@import './variables.css';
@import './base.css';
@import './animations.css';
@import './components.css';
@import './layout.css';
@import './sidebar.css';
@import './github-panel.css';
@import './nav-ring.css';
@import './monitor.css';
@import './system-monitor.css';
@import './disk-manager.css';
@import './editor.css';
@import './speech.css';
@import './storage.css';